{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  <article id="agenda" class="{{ cond (eq .Site.Language.Lang "en") "is-en" "is-zh"}}">
    <header class="cfp-hero">
      <div class="cfp-shell">
        <div class="cfp-hero-copy">
          <span class="cfp-eyebrow">RISC-V SUMMIT CHINA 2026</span>
          <h1>{{ .Title }}</h1>
        </div>
      </div>
    </header>
    <div class="cfp-shell">
      <div class="content">
        {{ .Content | markdownify | emojify | safeHTML }}
      </div>
      {{ if or .Params.a21 .Params.a22_A .Params.a22_B .Params.a22_C .Params.a22_D .Params.a22_E .Params.a23_A .Params.a23_B .Params.a23_C .Params.a23_D .Params.a23_E }}
      {{ partial "index-sections/agenda-main.html" . }}
      {{ end }}
    </div>
  </article>
{{ end }}
