{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  <article class="flex-l flex-wrap justify-between mw9 center ph3">
    <header class="mt4 w-100">
      <h1 class="f1 athelas mt3 mb1">
        {{- .Title -}}
      </h1>
    </header>
    <div class="content">
      {{ .Content | markdownify | emojify | safeHTML }}
    </div>
    {{ partial "index-sections/agenda-main.html" . }}
  </article>
{{ end }}
