{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  <article class="flex-l flex-wrap justify-between mw9 center ph3 {{ cond (eq .Site.Language.Lang "en") "is-en" "is-zh"}}">
    <header class="mt4 w-100">
      <h1 class="f1 athelas mt3 mb1">
        {{- .Title -}}
      </h1>
    </header>
    <div class="content">
      {{ .Content | markdownify | emojify | safeHTML }}
    </div>
    {{- with .Site.GetPage "co-events" }}
    <div id="co-events">
      <table class="adaptive">
        <thead>
          <tr>
            <th>{{ i18n "co_event_date_duration" | default "日期" }}</th>
            <th>{{ i18n "co_event_place" | default "场地" }}</th>
            <th>{{ i18n "co_event_name" | default "活动名" }}</th>
            <th>{{ i18n "co_event_organizer" | default "组织方" }}</th>
            <th>{{ i18n "co_event_registration_method" | default "报名渠道" }}</th>
            <th>{{ i18n "co_event_website" | default "官网" }}</th>
            <th>{{ i18n "co_event_remarks" | default "备注说明" }}</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Params.events }}
          <tr>
            <td class="date-duration {{cond (not .date_duration) "empty" ""}}"><label class="hide-on-wide">{{i18n "co_event_date_duration"}}{{i18n "colon"}}</label>{{ .date_duration }}</td>
            <td class="place {{cond (not .place) "empty" ""}}"><label class="hide-on-wide">{{i18n "co_event_place"}}{{i18n "colon"}}</label>{{ .place }}</td>
            <td class="name"><label class="hide-on-wide">{{i18n "co_event_name"}}{{i18n "colon"}}</label>{{if eq .name "TBD" }}-{{else}}<b>{{ .name }}</b>{{end}}</td>
            <td class="organizer {{cond (not .organizer) "empty" ""}}"><label class="hide-on-wide">{{i18n "co_event_organizer"}}{{i18n "colon"}}</label>{{ .organizer }}</td>
            <td class="registration-method {{cond (and (not .registration_method) (not .registration_url)) "empty" ""}}">
              <label class="hide-on-wide">{{i18n "co_event_registration_method"}}{{i18n "colon"}}</label>
              {{- range .registration_method }}
              <span>{{if or (eq .method "TBD") (eq .method "待更新")}}-{{else}}{{- .method | markdownify | emojify | safeHTML -}}{{end}}</span>
              {{- end -}}
              {{- if and .registration_method .registration_url -}}
              ,
              {{end -}}
              {{- if .registration_url }}
              <span>
                {{- range .registration_url }}
                {{- if .label }}
                <a target="_blank" href="{{.url}}" class="nowrap">{{.label}}</a>
                {{- else -}}
                <a target="_blank" href="{{.url}}" class="nowrap">{{i18n "register_url" | default "报名链接"}}</a>
                {{end -}}
                {{ end -}}
              </span>
              {{ end -}}
            </td>
            <td class="website {{cond (not .website) "empty" ""}}"><label class="hide-on-wide">{{i18n "co_event_website"}}{{i18n "colon"}}</label>{{ .website | markdownify | emojify | safeHTML }}</td>
            <td class="remarks {{cond (not .remarks) "empty" ""}}"><label class="hide-on-wide">{{i18n "co_event_remarks"}}{{i18n "colon"}}</label>{{ .remarks | markdownify | emojify | safeHTML }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
    {{- end }}
  </article>
{{ end }}
