{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  <article id="live" class="flex-l flex-wrap justify-between mw9 center ph3 {{ cond (eq .Site.Language.Lang "en") "is-en" "is-zh"}}">
    <header class="mt4 w-100">
      <h1 class="f1 mt3 mb1">
        {{- .Title -}}
      </h1>
    </header>
    <div class="content">
      {{ .Content | markdownify | emojify | safeHTML }}
    </div>
    <div class="symbol-info">
      <div class="row">
        <div class="symbol check"></div><div>{{i18n "live_check_desc"}}</div>
      </div>
      <div class="row">
        <div class="symbol uncheck"></div><div>{{i18n "live_uncheck_desc"}}</div>
      </div>
      <div class="row">
        <div class="symbol other"></div><div>{{i18n "live_other_desc"}}</div>
      </div>
      <div class="row">
        <div class="symbol other other-spec"></div><div>{{i18n "live_other_spec_desc"}}</div>
      </div>
    </div>
    <table>
        <thead>
          <tr>
            <th colspan="2" rowspan="2">{{i18n "live_platform"}}</th>
            <th></th>
            {{- range .Params.dates }}
            {{- $subCounts := len .day.sub }}
            <th colspan="{{$subCounts}}">{{.day.name}}</th>
            {{- end }}
            <th rowspan="2">{{i18n "live_description"}}</th>
          </tr>
          <tr>
            <th></th>
            {{- range .Params.dates }}
            {{- range .day.sub }}
            <th>{{.name}}</th>
            {{- end }}
            {{- end }}
          </tr>
        </thead>
        <tbody>
          {{- range $idx, $val := .Params.methods }}
          {{- $pltCounts := len $val.platforms }}
          <tr class="pri {{cond (eq (mod $idx 2) 0) "even" "odd"}}">
            <td class="name" rowspan="{{mul 2 $pltCounts}}">{{.name}}</td>
            {{- with index $val.platforms 0 }}
            <td class="platform" rowspan="2"><a {{with .url}}href="{{.}}"{{end}}>{{.name}}{{if not (or .url .cname)}} ({{i18n "tba1"}}){{end}}</a></td>
            <td class="ampm">{{i18n "am"}}</td>
            {{- $va := slice (dict "d" .a0821 "id" "a0821" "ampm" "am" "ab" (slice "")) }}
            {{- $va = append (dict "d" .a0822 "id" "a0822" "ampm" "am" "ab" (slice "a" "b")) $va }}
            {{- $va = append (dict "d" .a0823 "id" "a0823" "ampm" "am" "ab" (slice "a" "b")) $va }}
              {{- range $val := $va }}
                {{- range $val.ab }}
                  {{ partial "func/liveStat.html" (merge $val (dict "ab" .)) }}
                {{- end }}
              {{- end }}
            {{- end }}
            <td rowspan="{{mul 2 $pltCounts}}">{{.description}}</td>
          </tr>
          <tr class="{{cond (eq (mod $idx 2) 0) "even" "odd"}}">
            {{/*pm*/}}
            {{- with index $val.platforms 0 }}
            <td class="ampm">{{i18n "pm"}}</td>
            {{- $va := slice (dict "d" .a0821 "id" "a0821" "ampm" "pm" "ab" (slice "")) }}
            {{- $va = append (dict "d" .a0822 "id" "a0822" "ampm" "pm" "ab" (slice "a" "b")) $va }}
            {{- $va = append (dict "d" .a0823 "id" "a0823" "ampm" "pm" "ab" (slice "a" "b")) $va }}
              {{- range $val := $va }}
                {{- range $val.ab }}
                  {{ partial "func/liveStat.html" (merge $val (dict "ab" .)) }}
                {{- end }}
              {{- end }}
            {{- end }}
          </tr>
          {{- if gt $pltCounts 1 }}
            {{- range $index, $value := $val.platforms }}
            {{- if gt $index 0 }}
            <tr class="{{cond (eq (mod $idx 2) 0) "even" "odd"}}">
              <td class="platform" rowspan="2"><a {{with $value.url}}href="{{.}}"{{end}}>{{$value.name}}{{if not (or $value.url $value.cname)}} ({{i18n "tba1"}}){{end}}</a></td>
              <td class="ampm">{{i18n "am"}}</td>
              {{- $va := slice (dict "d" $value.a0821 "id" "a0821" "ampm" "am" "ab" (slice "")) }}
              {{- $va = append (dict "d" $value.a0822 "id" "a0822" "ampm" "am" "ab" (slice "a" "b")) $va }}
              {{- $va = append (dict "d" $value.a0823 "id" "a0823" "ampm" "am" "ab" (slice "a" "b")) $va }}
                {{- range $val := $va }}
                  {{- range $val.ab }}
                    {{ partial "func/liveStat.html" (merge $val (dict "ab" .)) }}
                  {{- end }}
                {{- end }}
            </tr>
            <tr class="{{cond (eq (mod $idx 2) 0) "even" "odd"}}">
              {{/*pm*/}}
              <td class="ampm">{{i18n "pm"}}</td>
              {{- $va := slice (dict "d" $value.a0821 "id" "a0821" "ampm" "pm" "ab" (slice "")) }}
              {{- $va = append (dict "d" $value.a0822 "id" "a0822" "ampm" "pm" "ab" (slice "a" "b")) $va }}
              {{- $va = append (dict "d" $value.a0823 "id" "a0823" "ampm" "pm" "ab" (slice "a" "b")) $va }}
                {{- range $val := $va }}
                  {{- range $val.ab }}
                    {{ partial "func/liveStat.html" (merge $val (dict "ab" .)) }}
                  {{- end }}
                {{- end }}
            </tr>
            {{- end }}
            {{- end }}
          {{- end }}
          <tr class="other-info other-info-title {{cond (eq (mod $idx 2) 0) "even" "odd"}}">
            <td></td>
          </tr>
          {{/*for mobile*/}}
          {{- $vaCoEvents := slice }}
          {{- $pushedPlatforms := slice }}
          {{- $pushedCoEvents := slice }}
          {{- $pushedSpecDurations := slice }}
          {{- $coEventsPerPlatform := dict }}
          {{- range $val.platforms }}
            {{- $va := slice (dict "dataOnly" true "pName" .name "d" .a0821 "id" "a0821" "ampm" (slice "am" "pm") "ab" (slice "")) }}
            {{- $va = append (dict "dataOnly" true "pName" .name "d" .a0822 "id" "a0822" "ampm" (slice "am" "pm") "ab" (slice "a" "b")) $va }}
            {{- $va = append (dict "dataOnly" true "pName" .name "d" .a0823 "id" "a0823" "ampm" (slice "am" "pm") "ab" (slice "a" "b")) $va }}
            {{- range $val := $va }}
              {{- range $ampm := $val.ampm }}
                {{- range $val.ab }}
                  {{- $newVal := partial "func/liveStat.html" (merge $val (dict "ab" . "ampm" $ampm)) }}
                  {{- if and (and $newVal (or (eq $newVal.code 3) (eq $newVal.code 4))) (not (in $pushedCoEvents $newVal.text)) }}
                    {{- $pushedCoEvents = append $newVal.text $pushedCoEvents }}
                    {{- if not (in $pushedSpecDurations $newVal.text) }}
                      {{- $pushedSpecDurations = append $newVal.text $pushedSpecDurations }}
                    {{- end }}
                    {{- if not (in $pushedPlatforms $newVal.pName) }}
                      {{- $pushedPlatforms = append $newVal.pName $pushedPlatforms }}
                    {{- end }}
                    {{- $vaCoEvents = append $newVal $vaCoEvents }}
                    {{- $countsPerPlt := 0 }}
                    {{- with index $coEventsPerPlatform (sha1 $newVal.pName) }}
                      {{- $countsPerPlt = . }}
                    {{- end }}
                    {{- $coEventsPerPlatform = merge $coEventsPerPlatform (dict (sha1 $newVal.pName) (add $countsPerPlt 1)) }}
                  {{- end }}
                {{- end }}
              {{- end }}
            {{- end }}
          {{- end }}
          {{- range $vaCoEvents }}
            <tr class="other-info {{cond (eq (mod $idx 2) 0) "even" "odd"}}">
              {{- if gt (len $pushedPlatforms) 1 }}
              <td class="o-name">{{.pName}}</td>
              {{- end }}
              <td class="stat {{if gt (index $coEventsPerPlatform (sha1 .pName)) 1 }}show-label{{end}} {{.id}}{{.ab}} {{.ampm}}"><div class="other {{if eq .code 4}}other-spec{{end}}"></div></td>
              <td class="desc">{{.text}}</td>
            </tr>
          {{- end }}
          <tr class="end-of-row {{cond (eq (mod $idx 2) 0) "even" "odd"}}">
            <td></td>
          </tr>
          {{- end }} {{/*end range .Params.methods*/}}
        </tbody>
    </table>
  </article>
{{ end }}
