{{- with .Site.GetPage "agenda" }}
    <div id="agenda-container">
      {{- $wDaysInChinese := dict "Wednesday" "周三" "Thursday" "周四" "Friday" "周五" }}
      {{- $t21 := "2024-08-21T12:00:00+0800" }}
      {{- $w21 := "Wednesday" }}
      {{- $t22 := "2024-08-22T12:00:00+0800" }}
      {{- $w22 := "Thursday" }}
      {{- $t23 := "2024-08-23T12:00:00+0800" }}
      {{- $w23 := "Friday" }}
      {{- $agenda21  := dict "id" "A0821" "titlePrefix" "Day1" "titlePlace" ( i18n "main_venue" ) "title1" ( time.Format .Site.Params.date_format1 $t21 ) "title2" ( cond (eq .Site.Language.Lang "en") $w21 (index $wDaysInChinese $w21) ) "place" (i18n "crystal_ballroom") "value" .Params.a21 }}
      {{- $agenda22a := dict "id" "A0822a" "titlePrefix" "Day2" "titlePrefixSub" "A" "titlePlace" (printf "%s %s" (i18n "main_venue") "A") "title1" ( time.Format .Site.Params.date_format1 $t22 ) "title2" ( cond (eq .Site.Language.Lang "en") $w22 (index $wDaysInChinese $w22) ) "place" (printf "%s %s" (i18n "crystal_ballroom") "1+2") "value" .Params.a22_A }}
      {{- $agenda22b := dict "id" "A0822b" "titlePrefix" "Day2" "titlePrefixSub" "B" "titlePlace" (printf "%s %s" (i18n "main_venue") "B") "title1" ( time.Format .Site.Params.date_format1 $t22 ) "title2" ( cond (eq .Site.Language.Lang "en") $w22 (index $wDaysInChinese $w22) ) "place" (printf "%s %s" (i18n "crystal_ballroom") "3")   "value" .Params.a22_B }}
      {{- $agenda23a := dict "id" "A0823a" "titlePrefix" "Day3" "titlePrefixSub" "A" "titlePlace" (printf "%s %s" (i18n "main_venue") "A") "title1" ( time.Format .Site.Params.date_format1 $t23 ) "title2" ( cond (eq .Site.Language.Lang "en") $w23 (index $wDaysInChinese $w23) ) "place" (printf "%s %s" (i18n "crystal_ballroom") "1+2") "value" .Params.a23_A }}
      {{- $agenda23b := dict "id" "A0823b" "titlePrefix" "Day3" "titlePrefixSub" "B" "titlePlace" (printf "%s %s" (i18n "main_venue") "B") "title1" ( time.Format .Site.Params.date_format1 $t23 ) "title2" ( cond (eq .Site.Language.Lang "en") $w23 (index $wDaysInChinese $w23) ) "place" (printf "%s %s" (i18n "crystal_ballroom") "3")   "value" .Params.a23_B }}
      {{- $agendaData := slice $agenda21 $agenda22a $agenda22b $agenda23a $agenda23b }}
      {{- $note := .Params.note }}
      <div id="agenda-toc">
        <span></span>
        {{- range $agendaData }}
        <a id="link-{{.id}}" href="#{{.id}}"><span>{{.titlePrefix}}</span><span class="{{.titlePrefixSub}}"><span>{{.titlePlace}}</span></span></a>
        {{- end }}
        <a id="link-POSTER" href="#POSTER"><span>POSTER</span></a>
      </div>
      {{- range $agendaData }}
      <div class="agenda-section" id="{{.id}}-section">
        <span class="anchor" id="{{.id}}"></span>
        <h2><span class="title-prefix">{{.titlePrefix}}</span><span class="title-prefix-sub {{.titlePrefixSub}}">{{.titlePlace}}</span><span class="title">{{ .title1 }}<span>/</span>{{ .title2 }}</span><span class="place">{{.place}}</span></h2>
        <div class="separator"></div>
        <table>
          <thead>
            <tr>
              <th>{{ i18n "agenda_time" }}</th>
              <th>{{ i18n "agenda_duration" }}</th>
              <th>{{ i18n "agenda_title" }}</th>
              <th>{{ i18n "agenda_speaker" }}</th>
            </tr>
          </thead>
          <tbody>
            {{ range .value }}
            <tr class="{{ cond (eq .class "SE") "se" "" }} {{ cond (eq .class "LUNCH") "se lunch" "" }}">
              <td class="time">{{ .time }}</td>
              <td class="duration">{{ .duration }}<sup>'</sup></td>
              <td class="title">{{if or (eq .title "TBD") (eq .title "TBA")}}-{{else}}{{ .title }}{{end}}</td>
                {{ if .speakers }}
              <td class="speaker">
                {{ range .speakers}}
                <div>
                <div class="author-name">{{ .name }}</div>{{if .title }}<div class="author-title">{{ .title }}</div>{{end}}
                </div>
                {{ end }}
                {{ else }}
              <td class="author empty">
                <span>-</span>
                {{ end }}
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
      {{- end }}

      <div class="agenda-section" id="POSTER-section">
        <span class="anchor" id="POSTER"></span>
        <h2><span class="title-poster">POSTER</span></h2>
        <div class="separator"></div>
        <table>
          <thead>
            <tr>
              <th>{{ i18n "agenda_title" }}</th>
              <th>{{ i18n "agenda_author" }}</th>
            </tr>
          </thead>
          <tbody>
            {{ range .Params.aPOSTER }}
            <tr>
              <td class="title">{{if or (eq .title "TBD") (eq .title "TBA")}}-{{else}}{{ .title }}{{end}}</td>
              <td class="author">
                {{ if .authors }}
                {{ range .authors }}
                <div>
                <div class="author-name">{{ .name }}</div>{{if .title }}<div class="author-title">{{ .title }}</div>{{end}}
                </div>
                {{ end }}
                {{ else }}
                -
                {{ end }}
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>

    </div>
{{- end }}
