{{- with .Site.GetPage "agenda" }}
    <div id="agenda">
      {{- $agenda21  := dict "id" "0821"  "title" "8 月 21 日"                         "value" .Params.a21 }}
      {{- $agenda22a := dict "id" "0822a" "title" "8 月 22 日 - 主会场 A （水晶宫 1）" "value" .Params.a22_A }}
      {{- $agenda22b := dict "id" "0822b" "title" "8 月 22 日 - 主会场 B （水晶宫 3）" "value" .Params.a22_B }}
      {{- $agenda23a := dict "id" "0823a" "title" "8 月 23 日 - 主会场 A （水晶宫 1）" "value" .Params.a23_A }}
      {{- $agenda23b := dict "id" "0823b" "title" "8 月 23 日 - 主会场 B （水晶宫 3）" "value" .Params.a23_B }}
      {{- $agendaData := slice $agenda21 $agenda22a $agenda22b $agenda23a $agenda23b }}
      {{- $note := .Params.note }}
      {{- range $agendaData }}
      <h2 id="{{.id}}">{{ .title }}</h2>
      <p class="small attention">{{ $note }}</p>
      <table>
        <thead>
          <tr>
            <th>时间</th>
            <th>时长</th>
            <th>题目</th>
            <th>演讲者</th>
          </tr>
        </thead>
        <tbody>
          {{ range .value }}
          <tr class="{{ cond (eq .class "SE") "se" "" }} {{ cond (eq .class "LUNCH") "se lunch" "" }}">
            <td class="time">{{ .time }}</td>
            <td class="duration">{{ .duration }}<sup>'</sup></td>
            <td class="title">{{ .title }}</td>
              {{ if .speakers }}
            <td class="author">
              {{ range .speakers}}
              <div>
              <span class="author-name">{{ .name }}</span>{{if .title }}<span class="author-title">{{ .title }}</span>{{end}}
              </div>
              {{ end }}
              {{ else }}
            <td class="author empty">
              <span>-</span>
              {{ end }}
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
      {{- end }}

      <h2>POSTER</h2>
      <p class="small attention">{{ .Params.note }}</p>
      <table>
        <thead>
          <tr>
            <th>题目</th>
            <th>作者</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Params.aPOSTER }}
          <tr>
            <td class="title">{{ .title }}</td>
            <td class="author">
              {{ if .authors }}
              {{ range .authors }}
              <div>
              <span class="author-name">{{ .name }}</span>{{if .title }}<span class="author-title">{{ .title }}</span>{{end}}
              </div>
              {{ end }}
              {{ else }}
              -
              {{ end }}
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>

    </div>
{{- end }}
