<section id="cover" class="fullweb-section section-container {{ cond (eq .Site.Language.Lang "en") "is-en" "is-zh"}}">
  <div class="center-container">
    <div id="the-title" class="tc-l pv3 ph3 ph4-ns">
      <h1 class="force-hidden f2 f-subheadline-l fw2 light-silver mb0 lh-title">
        {{ .Title | default .Site.Title }}
      </h1>
      <div id="title-images">
        <img id="subtitle" src="{{ relURL .Site.Params.subtitle_img }}" />
        <img id="title-zh" src="{{ relURL .Site.Params.title_zh_img }}" />
        <img id="title-en" src="{{ relURL .Site.Params.title_en_img }}" />
      </div>
    </div>
    {{- with .Site.GetPage "news" }}
    {{ $langCode := .Language.Lang }}
    {{ $date_format := .Site.Params.date_format }}
      {{ if .Params.items }}
    <div id="inline-news">
      <div class="countdown"></div>
      <ul>
        {{- range first 3 ( sort .Params.items "date" "desc" ) }}
        <li><a target="_blank" href="{{ .url }}"><time>{{.date | time.Format (default "January 2, 2006" $date_format)}}</time><span><span>{{ .title }}</span>{{if not (eq $langCode .lang)}} <span>{{if eq $langCode "zh"}}（英文）{{else if eq $langCode "en"}}(in Chinese){{end}}</span>{{end}}</span></a></li>
        {{- end }}
      </ul>
    </div>
      {{ end }}
    {{- end }}
  </div>
  <div id="host-info">
    <div>
      <label>{{ i18n "host" | default "主办单位：" }}</label>
      {{ range .Site.Params.host -}}
      <span>{{ .name }}</span>
      {{- end }}
    </div>
    <div>
      <label>{{ i18n "co_host" | default "联合主办单位：" }}</label>
      {{ range .Site.Params.co_host -}}
      <span>{{ .name }}</span>
      {{- end }}
    </div>
    <div>
      <label>{{ i18n "organizer" | default "承办单位：" }}</label>
      {{ range .Site.Params.organizer -}}
      <span>{{ .name }}</span>
      {{- end }}
    </div>
    <div>
      <label>{{ i18n "co_organizer" | default "协办单位：" }}</label>
      {{ range .Site.Params.co_organizer -}}
      <span>{{ .name }}</span>
      {{- end }}
    </div>
  </div>
</section>
