{{- with .Site.GetPage "sponsors" }}
<section id="sponsors" class="fullweb-section section-container">
  <div class="text-container">
    <h1>{{ .Title | markdownify | emojify }}</h1>
    <div class="content">
      {{ if .Params.diamond }}
        <h2>{{ i18n "diamond" }}</h2>
        <div class="sponsors-container diamond">
        {{ range .Params.diamond }}
          <a target="_blank" href="{{ .url }}">
            <img src="{{ .icon }}" />
          </a>
        {{ end }}
        </div>
      {{ end }}
      {{ if .Params.gold }}
        <h2>{{ i18n "gold" }}</h2>
        <div class="sponsors-container gold">
        {{ range .Params.gold }}
          <a target="_blank" href="{{ .url }}">
            <img src="{{ .icon }}" />
          </a>
        {{ end }}
        </div>
      {{ end }}
      {{ if .Params.silver }}
        <h2>{{ i18n "silver" }}</h2>
        <div class="sponsors-container silver">
        {{ range .Params.silver }}
          <a target="_blank" href="{{ .url }}">
            <img src="{{ .icon }}" />
          </a>
        {{ end }}
        </div>
      {{ end }}
      {{ if .Params.bronze }}
        <h2>{{ i18n "bronze" }}</h2>
        <div class="sponsors-container bronze">
        {{ range .Params.bronze }}
          <a target="_blank" href="{{ .url }}">
            <img src="{{ .icon }}" />
          </a>
        {{ end }}
        </div>
      {{ end }}
      {{ if .Params.community }}
        <h2>{{ i18n "community" }}</h2>
        <div class="sponsors-container community">
        {{ range .Params.community }}
          <a target="_blank" href="{{ .url }}">
            <img src="{{ .icon }}" />
          </a>
        {{ end }}
        </div>
      {{ end }}
      <br />
      {{ if .Params.host }}
        <h2>{{ i18n "host" }}</h2>
        <div class="sponsors-container host">
        {{ range .Params.host }}
          <a target="_blank" href="{{ .url }}">
            <img src="{{ .icon }}" />
          </a>
        {{ end }}
        </div>
      {{ end }}
      {{ if .Params.co_hosts }}
        <h2>{{ i18n "co_host" }}</h2>
        <div class="sponsors-container co-hosts">
        {{ range .Params.co_hosts }}
          <a target="_blank" href="{{ .url }}">
            <img src="{{ .icon }}" />
          </a>
        {{ end }}
        </div>
      {{ end }}
      {{ if .Params.organizers }}
        <h2>{{ i18n "organizer" }}</h2>
        <div class="sponsors-container organizers">
        {{ range .Params.organizers }}
          <a target="_blank" href="{{ .url }}">
            <img src="{{ .icon }}" />
          </a>
        {{ end }}
        </div>
      {{ end }}
      {{ if .Params.co_organizers }}
        <h2>{{ i18n "co_organizer" }}</h2>
        <div class="sponsors-container co-organizers">
        {{ range .Params.co_organizers }}
          <a target="_blank" href="{{ .url }}">
            <img src="{{ .icon }}" />
          </a>
        {{ end }}
        </div>
      {{ end }}
      <p>{{ .Content | markdownify | emojify | safeHTML }}</p>
    </div>
    {{ if .Params.link_slug }}
    <a class="details" href="{{ (path.Join "posts/" .Params.link_slug | relLangURL) }}">{{ i18n "details" | default "点击查阅详情" }}</a>
    {{ end }}
  </div>
  {{ if .Params.tba }}
  {{ partial "partials/tba-section.html" . }}
  {{ end }}
</section>
{{- end }}
