body:not(.in-home) {
    background-color: $bgColorLighter;
    >header {
        >div {
            background-color: $primaryColor;
            nav {
                backdrop-filter: none;
                -webkit-backdrop-filter: none;
            }
        }
    }
    main {
        padding-top: $navHeightForMobile+50px;
    }
    article {
        padding-left: calc(var(--sal) + 1em) !important;
        padding-right: calc(var(--sar) + 1em) !important;
        position: relative;
        >div {
            width: 100%;
            position: relative;
        }
        header >aside {
            display: none;
        }
        .small {
            font-size: 90%;
        }
        .attention {
            font-weight: bold;
            color: #F1F1F1;
            background-color: #F96600;
            display: block;
            padding: 0.8em 15px;
            border-top: 0.5px solid white;
            border-bottom: 0.5px solid white;
        }
        .anchor {
            display: block;
            position: relative;
            top: -146px;
            visibility: hidden;
        }
        table {
            border-collapse: collapse;
            margin: 0 0 5em 0;
            font-size: 0.9em;
            width: 100%;
            position: relative;
            .hide-on-wide {
                display: none;
            }
            th, td {
                padding: 12px 15px;
            }
            thead {
                th {
                    white-space: nowrap;
                }
                tr {
                    background-color: $primaryColorLight;
                    color: #FFFFFF;
                    text-align: left;
                }
            }
            tbody {
                tr {
                    border-bottom: 1px solid #dddddd;
                }
                tr:nth-of-type(even) {
                    background-color: #f3f3f3;
                }
                tr:last-of-type {
                    border-bottom: 2px solid $primaryColorLight;
                }
                tr.active-row {
                    font-weight: bold;
                    color: #009879;
                }
            }
        }
    }
    #agenda {
        h1 {
            color: #333;
            font-size: 2em;
            font-weight: normal;
            padding-left: 1.2em;
        }
        div#agenda-container {
            margin-top: 1em;
            #agenda-toc {
                display: flex;
                width: fit-content;
                margin: 0 auto 3em 2em;
                font-size: 85%;
                position: relative;
                &.cloned {
                    box-shadow: 2px 2px 5px #00000050;
                    border-bottom-left-radius: 1.2em;
                    border-top-left-radius: 1.2em;
                    border-top-right-radius: 0.5em;
                    border-bottom-right-radius: 0.2em;
                    @media all and (max-width: 960px) {
                        border-top-right-radius: 1.2em;
                        border-bottom-right-radius: 1.2em;
                    }
                    a {
                        opacity: 0.6;
                        transition-property: opacity;
                        transition-duration: .3s;
                        color: #F1F1F1;
                        &:hover {
                            opacity: 0.9;
                        }
                        &.active {
                            opacity: 1;
                            box-shadow: 3px 3px 0 #00000050;
                            z-index: 2;
                        }
                    }
                }
                a {
                    display: block;
                    color: white;
                    padding: 0.6em 2em 0.6em 2em;
                    text-decoration: none;
                    cursor: pointer;
                    border-left: 0.5px solid #FFFFFFA0;
                    position: relative;
                    &:first-of-type {
                        border-left: none;
                        border-bottom-left-radius: 1.2em;
                        border-top-left-radius: 1.2em;
                    }
                    &:last-of-type {
                        border-top-right-radius: 0.5em;
                        border-bottom-right-radius: 0.2em;
                    }
                    &#link-A0821 {
                        background-color: $colorDay1;
                    }
                    &#link-A0822a, &#link-A0822b {
                        background-color: $colorDay2;
                    }
                    &#link-A0823a, &#link-A0823b {
                        background-color: $colorDay3;
                    }
                    &#link-POSTER {
                        background-color: $primaryColor;
                    }
                    >span {
                        font-weight: bold;
                        &:nth-of-type(2) {
                            &:before {
                                content: '·';
                                font-weight: bold;
                                margin: 0 0.5em;
                            }
                        }
                    }
                    transition-property: box-shadow;
                    transition-duration: .3s;
                    &:hover {
                        box-shadow: 2px 2px 0 #00000050;
                        z-index: 1;
                    }
                }
                @media all and (max-width: 960px) {
                    // TODO
                    // Workaround
                    max-width: 100%;
                    font-size: 12px;
                    line-height: 12px;
                    a {
                        display: flex;
                        padding: 6px 10px;
                        &:first-of-type {
                            padding-left: 18px;
                        }
                        /*
                        border-left: none;
                        border-top: 0.5px solid #FFFFFFA0;
                        &:last-of-type {
                            border-bottom-left-radius: 1.2em;
                            border-top-left-radius: 0.2em;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0.2em;
                        }
                        &:first-of-type {
                            border-top: none;
                            border-top-right-radius: 0;
                            border-top-left-radius: 0;
                            border-bottom-right-radius: 0.2em;
                            border-bottom-left-radius: 0;
                        }
                        border-bottom: 0.5px solid #F1F1F1;
                        */
                        >span {
                            margin: 0 auto;
                            font-family: monospace;
                            display: block;
                            height: 12px;
                            width: 30px;
                            overflow: hidden;
                        }
                        >span:last-of-type {
                            display: none;
                            color: transparent;
                            width: fit-content;
                            >span {
                                display: none;
                            }
                            &:before {
                                display: none;
                            }
                        }
                        >span.A, >span.B {
                            display: block;
                            flex-wrap: nowrap;
                            &:before {
                                color: white;
                                display: inline-block;
                                margin: 0;
                                padding: 0 0 0 3px;
                            }
                        }
                        >span.A {
                            &:before {
                                content: "A";
                            }
                        }
                        >span.B {
                            &:before {
                                content: "B";
                            }
                        }
                        &#link-POSTER {
                            display: none;
                        }
                        &#link-A0823b {
                            border-top-right-radius: 1.2em;
                            border-bottom-right-radius: 1.2em;
                            padding-right: 18px;
                        }
                    }
                }
            }
            h2 {
                display: flex;
                margin: 0;
                padding: 0;
                color: $primaryColor;
                border-top-left-radius: 1.5em;
                position: relative;
                z-index: 1;
                >span {
                    padding: 0.5em 1em;
                    display: block;
                }
                .title-prefix, .title-poster {
                    padding: 0.1em 0.5em 0.3em 1.5em;
                    color: #F1F1F1;
                    border-top-left-radius: 1.5em;
                    font-size: 120%;
                    letter-spacing: 2px;
                    display: flex;
                    align-items: flex-end;
                    z-index: 2;
                }
                .title-poster {
                    background-color: $primaryColorLight;
                    padding-top: 0.3em;
                    width: 100%;
                }
                .title-prefix-sub {
                    background-color: #00a3da;
                    color: white;
                    box-shadow: 2px 0 0 #00000030;
                    z-index: 3;
                }
                .title, .place {
                    padding: 0.4em 1em;
                    margin: auto 0 0 0;
                    font-size: 95%;
                    height: 90%;
                    color: white;
                    background-color: gray;
                }
                .title {
                    position: relative;
                    span {
                        position: relative;
                        font-size: 70%;
                        opacity: .8;
                        bottom: 0.2em;
                        margin: 0 0.3em;
                    }
                    box-shadow: 2px 0 0 #00000030;
                    z-index: 1;
                }
                .place {
                    font-size: 75%;
                    background-color: #555;
                }
            }
            div.separator {
                height: 1px;
                background-color: white;
            }
            div.agenda-section {
                &#A0821-section h2 {
                    .title-prefix {
                        background-color: $colorDay1;
                    }
                }
                &#A0822a-section h2, &#A0822b-section h2 {
                    .title-prefix {
                        background-color: $colorDay2;
                    }
                }
                &#A0823a-section h2, &#A0823b-section h2 {
                    .title-prefix {
                        background-color: $colorDay3;
                    }
                }
            }
            table {
                background-color: white;
                tbody {
                    tr {
                        td {
                            &.time, &.duration {
                                width: 5%;
                            }
                            &.speaker, &.author {
                                width: 30%;
                                .author-name {
                                    font-weight: bold;
                                    opacity: .8;
                                    margin-top: 0.3em;
                                    font-size: 105%;
                                }
                                .author-title {
                                    font-size: 95%;
                                    padding-top: 0.1em;
                                    &:before {
                                        content: '';
                                    }
                                }
                            }
                        }
                        &.se {
                            color: white;
                            background-color: $primaryColorLight;
                            border-top: .5px solid white;
                            font-style: italic;
                            opacity: .9;
                            td {
                                &.speaker, &.author {
                                    span {
                                        display: none;
                                    }
                                }
                            }
                            &.lunch {
                                .title {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
            @media all and (max-width: 960px) {
                h2 {
                    font-size: 80%;
                }
                .attention {
                    font-size: 70%;
                }
                table {
                    thead {
                        th {
                            display: none;
                        }
                        tr {
                            height: 1em;
                        }
                        background-color: $primaryColorLight;
                        display: block;
                    }
                    tbody {
                        tr {
                            position: relative;
                            display: block;
                            flex-direction: column;
                            padding: 1em;
                            td {
                                padding: 0 0 0 1em;
                                margin-bottom: 0.2em;
                                font-size: 95%;
                                &.empty {
                                    display: none;
                                }
                                &.time, &.duration {
                                    width: fit-content;
                                    display: inline-block;
                                }
                                &.time, &.duration {
                                    padding-left: 2px;
                                    font-family: monospace;
                                    font-style: normal;
                                }
                                &.duration {
                                    &:before {
                                        content: '(';
                                    }
                                    &:after {
                                        content: ')';
                                    }
                                }
                                &.title, &.author, &.speaker {
                                    display: block;
                                    position: relative;
                                    padding: 0.2em 0.2em 0.2em 30px;
                                    margin: 0;
                                    &:after {
                                        content: '';
                                        display: inline-block;
                                        position: absolute;
                                        top: 0;
                                        left: 20px;
                                        width: 1px;
                                        height: 100%;
                                        background-color: #000000A0;
                                        font-style: normal;
                                        opacity: .6;
                                        font-size: 80%;
                                        margin-right: .5em;
                                    }
                                    &.empty {
                                        display: none;
                                    }
                                }
                                &.title {
                                    font-size: 1em;
                                }
                                &.speaker, &.author {
                                    width: unset;
                                    &:before {
                                        content: "演讲者：";
                                        font-size: 80%;
                                        opacity: .6;
                                    }
                                    >div {
                                        margin-left: 0.5em;
                                        margin-bottom: 0.5em;
                                    }
                                    .author-name {
                                        margin-top: 0.1em;
                                    }
                                }
                                &.author:before {
                                    content: "作者：";
                                }
                            }
                            &.se {
                                td.title:after {
                                    background-color: #FFFFFFA0;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.is-en {
            div#agenda-container {
                table {
                    @media all and (max-width: 960px) {
                        tbody tr td {
                            &.speaker:before {
                                content: "Speaker: ";
                            }
                            &.author:before {
                                content: "Author: ";
                            }
                        }
                    }
                }
            }
        }
    }
    div#co-events {
        margin-top: 2em;
        table {
            td {
                &.date-duration, &.place, &.name {
                    white-space: nowrap;
                }
            }
            @media all and (max-width: 1440px) {
                thead {
                    th {
                        display: none;
                    }
                    tr {
                        height: 1em;
                    }
                    background-color: $primaryColorLight;
                    display: block;
                }
                tbody {
                    tr {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        padding: 1em;
                        td {
                            padding: 0 0 0 1em;
                            margin-bottom: 0.2em;
                            font-size: 95%;
                            &.name {
                                margin-top: 0;
                                margin-bottom: 0.5em;
                                padding-left: 0;
                                label {
                                    display: none;
                                }
                                font-size: 120%;
                                white-space: initial;
                            }
                            label {
                                opacity: 0.6;
                                margin-right: 0.3em;
                            }
                            &.empty {
                                display: none;
                            }
                        }
                    }
                }
                .hide-on-wide {
                    display: inline-block;
                }
            }
        }
    }
    article#organizing-teams {
        position: relative;
        >section {
            position: relative;
            margin-top: 3em;
            padding-bottom: 3em;
            h2, div.category {
                margin: 0 auto 0 0;
                padding: 0;
                color: white;
                width: fit-content;
                font-size: 100%;
                border-top-left-radius: 0.2em;
                border-bottom-left-radius: 0.2em;
                border-top-right-radius: 1em;
                border-bottom-right-radius: 1em;
                background-color: $primaryColorLighter;
                a {
                    display: inline-block;
                    padding: 0.5em 2em 0.5em 2em;
                    color: white;
                    text-decoration: none;
                }
            }
            div.category {
                font-size: 90%;
                padding: 0.3em 0.8em;
                margin-left: 1.5rem;
                margin-top: 1.5rem;
                border-top-right-radius: 0.2em;
                border-bottom-right-radius: 0.2em;
                &:after {
                    content: ":";
                }
            }
            >p.description, >p.tba {
                margin: 1.5em 0 0 0;
                padding: 0 3em 0 3rem;
                font-style: italic;
            }
            >p.description {
                font-style: normal;
                font-size: 90%;
                line-height: 1.3em;
                &:before {
                    content: "说明：";
                }
            }
            div.members {
                margin: 1em 0 0 0;
                padding: 0 3em 0 3rem;
                position: relative;
                display: flex;
                flex-direction: column;
                align-content: left;
                justify-content: top;
                div.member {
                    margin-top: 1em;
                    position: relative;
                    width: 100%;
                    box-sizing: border-box;
                    text-align: left;
                    >div.person {
                        >div.name {
                            font-weight: bold;
                            >span.position {
                                font-weight: normal;
                                font-size: 90%;
                                margin-left: 0.2em;
                            }
                        }
                        >div.title, >div.description {
                            margin-top: 0.5em;
                            font-size: 80%;
                            opacity: .8;
                        }
                        >div.title {
                            display: flex;
                            flex-direction: row;
                            .affiliation {
                                white-space: pre;
                            }
                            span{
                                display: inline-block;
                                &.name {
                                    margin: 0;
                                }
                            }
                        }
                        >div.description {
                            line-height: 1.3em;
                            &:before {
                                content: '简介：';
                            }
                        }
                        &.with-description >div.title {
                        }
                        margin-bottom: 1em;
                    }
                }
            }
            &.with-avatar {
                div.members {
                    div.member {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 40px;
                        padding: 10px 0;
                        >a {
                            position: relative;
                            display: block;
                            width: 160px;
                            height: 160px;
                            border-radius: 50%;
                            border: 3px solid white;
                            box-sizing: border-box;
                            img {
                                position: relative;
                                width: 150px;
                                height: 150px;
                                top: 2.5px;
                                left: 2.5px;
                                border-radius: 50%;
                                position: relative;
                                object-fit: cover;
                                background-color: $bgColorLighter;
                            }
                            &:before {
                                content: '';
                                position: absolute;
                                z-index: -1;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                background-color: white;
                                box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px 0px;
                            }
                        }
                        >div.person {
                            max-width: calc(100% - 200px);
                        }
                    }
                }
            }
            @media all and (max-width: 800px) {
                &.with-avatar {
                    div.members {
                        div.member {
                            flex-direction: column;
                            margin-bottom: 1em;
                            >a{
                                margin-left: auto;
                                margin-right: auto;
                            }
                            >div.person {
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
        &.is-en {
            section {
                >p.description {
                    &:before {
                        content: "Description: ";
                    }
                }
                >div.members {
                    >div.member {
                        >div.person {
                            >div.description {
                                &:before {
                                    content: 'Bio: ';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    article#live {
        h1 {
            font-size: 2rem;
            margin-bottom: 1em;
        }
        a {
            color: $primaryColorLighter;
            text-decoration: none;
            border-bottom: dotted 1px;
            &:hover {
                border-bottom: solid 1px;
            }
            &:not([href]) {
                color: inherit;
                border-bottom: none;
            }
        }
        div.method {
        }
        table {
            thead {
                tr {
                    th {
                        text-align: center;
                    }
                }
            }
            tbody {
                tr.pri {
                }
                tr.even {
                    background-color: #f3f3f3;
                }
                tr.odd {
                    background-color: transparent;
                }
                tr:last-of-type {
                    border-bottom: 0;
                }
                border-bottom: 2px solid $primaryColorLight;
                td.stat {
                    padding: 0;
                    position: relative;
                    text-align: center;
                    font-size: 90%;
                    div {
                        position: absolute;
                        top: 0;
                        left: 0.5px;
                        width: calc(100% - 1px);
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            tr.other-info, tr.end-of-row {
                display: none;
            }
        }
        div.symbol-info {
            font-size: 90%;
            margin-top: 1em;
            div.row {
                width: fit-content;
                display: flex;
                margin-bottom: 0.3em;
                div.symbol {
                    width: 80px;
                    margin-right: 0.5em;
                }
            }
        }
        div.other {
            background: #bde6f0;
            &.other-spec {
                background: #fbcd69;
            }
        }
        div.check {
            background: #2cd67f;
        }
        div.uncheck {
            background: #e3715f;
        }
        @media all and (max-width: 960px) {
            table {
                border-spacing: 0;
                position: relative;
                font-size: 110%;
                thead {
                    tr {
                        height: 10px;
                        display: block;
                        th {
                            display: none;
                        }
                    }
                }
                tbody {
                    position: relative;
                    display: block;
                    tr {
                        display: flex;
                        flex-wrap: wrap;
                        border-bottom: none;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        padding-bottom: 0;
                        margin: 0;
                        position: relative;
                        &.pri {
                            padding-top: 1rem;
                            .platform {
                                margin-top: 0.3rem;
                                padding-top: 0.5rem;
                            }
                        }
                        &.pri::before {
                            padding-bottom: 1.5rem;
                            .ampm {
                                height: 23px;
                                padding-bottom: 8px;
                            }
                        }
                        td {
                            padding: 0;
                            margin: 0;
                            &.name {
                                display: block;
                                width: 100%;
                                font-weight: bold;
                            }
                            &.platform, &.ampm {
                                position: relative;
                                &:before {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 1rem;
                                    width: 1px;
                                    height: 100%;
                                    background: #00000020;
                                }
                            }
                            &.platform {
                                display: block;
                                width: 100%;
                                font-size: 90%;
                                padding: 0.8em 0 0.5em 1.8rem;
                            }
                            &.ampm, &.stat {
                                height: 18px;
                            }
                            &.ampm {
                                display: inline-block;
                                font-size: 12px;
                                line-height: 12px;
                                margin: 0;
                                padding: 3px 0.5em 3px 2.5rem;
                                box-sizing: border-box;
                            }
                            &.stat {
                                display: inline-block;
                                margin: 0;
                                width: 42px;
                                overflow: hidden;
                                border-bottom: 1px solid transparent;
                                border-right: 1px solid transparent;
                                div {
                                    font-size: 12px;
                                    line-height: 12px;
                                    padding: 3px;
                                }
                                &.colspan {
                                    width: 84px;
                                }
                                .check:before, .uncheck:before, .other:before {
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    color: $fontColorDark;
                                    box-sizing: border-box;
                                    padding: 4px 0;
                                    font-size: 10px;
                                    line-height: 10px;
                                    font-family: monospace;
                                    z-index: 1;
                                    top: 0;
                                    left: 0;
                                }
                                &.a0821 .check:before, &.a0821 .uncheck:before {
                                    content: "8/21";
                                }
                                &.a0821 .other:before {
                                    content: "8/21";
                                }
                                &.a0822a .check:before, &.a0822a .uncheck:before {
                                    content: "8/22A";
                                }
                                &.a0822b .check:before, &.a0822b .uncheck:before {
                                    content: "8/22B";
                                }
                                &.a0822a .other:before, &.a0822b .other:before {
                                    content: "8/22";
                                }
                                &.a0823a .check:before, &.a0823a .uncheck:before {
                                    content: "8/23A";
                                }
                                &.a0823b .check:before, &.a0823b .uncheck:before {
                                    content: "8/23B";
                                }
                                &.a0823a .other:before, &.a0823b .other:before {
                                    content: "8/23";
                                }
                                .other {
                                    color: transparent;
                                }
                            }
                        }
                    }
                }
                tr.other-info {
                    display: flex;
                    font-size: 10px;
                    line-height: 10px;
                    font-family: monospace;
                    position: relative;
                    padding-left: 2.8rem;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 2rem;
                        width: 1px;
                        height: 100%;
                        background: #00000020;
                    }
                    td {
                        display: flex;
                        flex-wrap: wrap;
                        padding: 4px 0;
                        &.o-name {
                            width: 100%;
                            margin-right: .2em;
                            +td.stat {
                                margin-left: 1em;
                            }
                        }
                        &.stat {
                            width: 60px;
                            margin-right: .2em;
                            div.other:before {
                                display: none;
                                text-align: left;
                                padding-left: 8px;
                            }
                        }
                        &.show-label {
                            &.stat {
                                div.other:before {
                                    display: block;
                                }
                            }
                            &:after {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 18px;
                                padding: 4px 8px 4px 0;
                                font-size: 10px;
                                text-align: right;
                                line-height: 10px;
                            }
                            &.am {
                                &:after {
                                    content: "AM";
                                }
                            }
                            &.pm {
                                &:after {
                                    content: "PM";
                                }
                            }
                        }
                    }
                }
                tr.end-of-row {
                    display: flex;
                    td {
                        height: 0.8em;
                    }
                }
            }
        }
    }
    footer {
        color: $fontColorDark;
    }
}
