:root {
    --sat: env(safe-area-inset-top, 0px);
    --sar: env(safe-area-inset-right, 0px);
    --sab: env(safe-area-inset-bottom, 0px);
    --sal: env(safe-area-inset-left, 0px);

    --font-color-light: rgba(255,255,255,.9);
    --font-color-dark: rgba(30,30,30);
}
