$primaryColor: #0c153d;
$primaryColorLight: #1b244a;
$navHeightForMobile: 70px;
$sidebarBtnWidth: 50px;

$fontColorLight: #F1F1F1;
$fontColorDark: #212121;

$bgColorLight: #E9E9E9;
$bgColorLighter: #FDFDFD;
$bgColorPaper: #ece8e9e0;
