$primaryColor: #0c153d;
$primaryColorLight: #1b244a;
$primaryColorLighter: #2f3b6e;
$navHeightForMobile: 70px;
$sidebarBtnWidth: 50px;

$fontColorLight: #F1F1F1;
$fontColorDark: #212121;

$bgColorLight: #E9E9E9;
$bgColorLighter: #FDFDFD;
$bgColorPaper: #ece8e9e0;

$colorDay1: #185281;
$colorDay2: #107beb;
$colorDay3: #ee5b40;
