{{ $result := . }} {{/*code: int, classes: string, text: string*/}}
{{ $params := . }}

{{ with .d }}
  {{ if eq $params.ab "a" }}
    {{ with .a }}
      {{ if eq . true }}
        {{ $result = merge $result (dict "code" 1) }}
      {{ else if .other }}
        {{ $result = merge $result (dict "code" 3 "text" .other) }}
      {{ end }}
    {{ end }}
  {{ else if eq $params.ab "b" }}
    {{ with .b }}
      {{ if eq . true}}
        {{ $result = merge $result (dict "code" 1) }}
      {{ else if .other }}
        {{ $result = merge $result (dict "code" 3 "text" .other) }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $result }}
