{{ $result := . }} {{/*code: int, classes: string, text: string*/}}
{{ $params := . }}

{{ with .d }}
  {{ if eq $params.ampm "am" }}
    {{ with .am }}
      {{ if eq . true }}
        {{ $result = merge $result (dict "code" 1) }}
      {{ else if .other }}
        {{ $result = merge $result (dict "code" 3 "text" .other) }}
      {{ else if or .a .b }}
        {{ $result = merge $result (partial "func/liveStat-ab.html" (merge $params (dict "d" .))) }}
      {{ end }}
    {{ end }}
  {{ else if eq $params.ampm "pm" }}
    {{ with .pm }}
      {{ if eq . true }}
        {{ $result = merge $result (dict "code" 1) }}
      {{ else if .other }}
        {{ $result = merge $result (dict "code" 3 "text" .other) }}
      {{ else if or .a .b }}
        {{ $result = merge $result (partial "func/liveStat-ab.html" (merge $params (dict "d" .))) }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $result }}
