{{ $result := "" }}
{{ $pName := .name }}
{{ $ampm := .ampm }}
{{ $ab := .ab }}
{{ $otherInfo := .otherInfo }}

{{ $checkStr := "<div class='check'></div>" | safeHTML }}
{{ if $otherInfo }}
  {{ $checkStr = "" }}
{{ end }}

{{ if eq .d true }}
  {{ $result = $checkStr }}
{{ else }}
  {{ with .d }}
    {{ if eq .separatedMethod "ampm" }}
      {{ $result = (partial "func/liveStat-ampm.html" (dict "name" $pName "d" . "ampm" $ampm "ab" $ab "otherInfo" $otherInfo))}}
    {{ else if eq .separatedMethod "ab" }}
      {{ $result = (partial "func/liveStat-ab.html" (dict "name" $pName "d" . "ampm" $ampm "ab" $ab "otherInfo" $otherInfo))}}
    {{ else if eq .separatedMethod "ampmab" }}
      {{ $result = (partial "func/liveStat-ampm.html" (dict "name" $pName "d" . "ampm" $ampm "ab" $ab "otherInfo" $otherInfo))}}
    {{ else }}
      {{ $result = "unknown" }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $result }}
